* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
}

header h1 {
    font-family: 'Croissant One', cursive;
    font-weight: 900;
}

.card-text, .btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000;
}

.text-topo {
    font-weight: bolder;
}

.small-image {
    max-width: 350px;
    max-height: 300px;
    object-fit: cover;
}

.background-header {
    background-image: linear-gradient(to left, #342800, #c7a829 );
}

body {
    background-color: #333;
}

.topo-msg {
    color: #000;
}