* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.card-text, .btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000;
}

.text-topo {
    font-weight: bolder;
}

.small-image {
    max-width: 350px;
    max-height: 300px;
    object-fit: cover;
}

.background-header {
    background-image: linear-gradient(to left, rgb(240, 181, 255), rgb(144, 79, 171) );
}

body {
    background-color: #f6f6f6;
}

.topo-msg {
    color: #000;
}

.text-center{
    font-weight: 500;
}

.text-center .cor {
    background: #9400d3;
    color: white;
    font-weight: bold;
}

.text-center .port {
    background: #4169E1;
    color: white;
    font-weight: bold;
}

.img-sm {
    width: 50%;
}

.Titulo{
    line-height: 60px;
    margin: 50px auto 50px;
    text-align: center;
    color: var(--cor-font-corpo);
    padding: 10px 20px;
}

.direitos{
    text-align: center;
}

.curriculo{
    background: white;
}

#area{
    left:37%;
    top:29%;
    width:500px;
    height:500px;
    background: linear-gradient(to bottom, rgb(226, 197, 244),#b99fdb);
    border-radius: 8%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 1px 3px #000;
    box-align: center;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    padding-top: 1px;
    padding-left: 10px;
}

#fieldset
{
  width:500px;
  height:400px;
}

#formulario label
{
  left:19px;
  margin-right:5px;
  text-align: left;
}

#formulario input.campo_nome
{
    left:250px;
    top:23px;
    width:225px;

}
#formulario input.campo_email
{
  left:95px;
  margin-top:2px;
  width:225px;
}
