* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.card-text, .btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000;
}

.text-topo {
    font-weight: bolder;
}

.small-image {
    max-width: 350px;
    max-height: 300px;
    object-fit: cover;
}

.background-header {
    background-image: linear-gradient(to left, rgb(240, 181, 255), rgb(144, 79, 171) );
}

body {
    background-color: white;
}

.topo-msg {
    color: #000;
}

.text-center{
    font-weight: 500;
}

.text-center .cor {
    background: #9400d3;
    color: white;
    font-weight: bold;
}

.text-center .port {
    background: #4169E1;
    color: white;
    font-weight: bold;
}

.img-sm {
    width: 50%;
}

.Titulo{
    position: relative;
    line-height: 60px;
    margin: 50px auto 50px;
    text-align: center;
    color: var(--cor-font-corpo);
    border: solid 1px #000;
    
}

.direitos{
    text-align: center;
}
